@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

#navbar {
  font-family: "Caprasimo", serif;
  letter-spacing: 2px;
  font-size: 1.4em;
}

body {
  background-color: #de9c62;
  font-family: "Playfair Display", serif;
}

p {
  font-size: 1.1em;
}

footer {
  width: 100%;
  padding: 20px 0; /* Adjust the padding as needed */
}
/* Sticky footer CSS */
/* Adjustments for small screens */
@media (max-width: 768px) {
  footer {
    padding: 10px 0;
  }
  .grid {
    grid-template-columns: 1fr;
  }
}
